<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.gits.gitsmvvmkotlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GitsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GITS Class Sample"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="261e27dc5baae72193fd64e849234ca4bcf6971d" />

        <!-- <activity android:name=".mvvm.main.MainActivity"> -->
        <!--  -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".mvvm.maindetail.MainDetailActivity" -->
        <!-- android:theme="@style/AppThemeDetail" /> -->
        <!--  -->
        <activity android:name=".mvvm.gitsclass.listbencana.BencanaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvm.gitsclass.detailbencana.DetailBencanaActivity"></activity>
    </application>

</manifest>